@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
//fonts
$mainFont: 'Roboto', sans-serif;
$secondaryFont: 'Nunito', sans-serif;

//text sizing
$textSm: .8em;
$textMd: 1.2em;
$textLg: 2em;
$textXl: 3em;

//font - weigth
$bold:600;
$regular:400;
$ligth:300;